<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">User Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" href="/admins">Admins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            </ul>

            <!-- Avatar -->
            <div class="dropdown">
                <div class="d-flex align-items-center">
                    <div sec:authorize="isAuthenticated()">
                        Logged in as <strong sec:authentication="name"></strong><br>
                        Role: <span sec:authentication="principal.authorities"></span>
                        <form th:action="@{/logout}" method="post">
                            <button><input type="submit" value="Sign Out"/></button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>


</body>
</html>